.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.square {
  height: 100px;
  width: 150px;
  background-color: rgb(45, 151, 116);
  margin: 10px;
  text-align: end;
  font-size: 0.5em;
  padding: 5px;
}
.orange {
  height: 300px;
  width: 400px;
  background-color: rgb(245, 119, 2);
  margin: 10px;
  text-align: end;
  font-size: 0.5em;
  padding: 5px;
}
.children {
  height: 300px;
  width: 400px;
  background-color: rgb(156, 40, 98);
  text-align: end;
  font-size: 0.5em;
  margin: 10px;
  padding: 5px;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.flex {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.scrollLoader {
  background-color: #00ff95;
  height: 5px;
}
.img { 
  border: 0;
  outline: none;
  margin: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
